.title_container_text {
  background: var(--PRIMARY_LIGHT);
  box-shadow: 0px 0.125rem 0.6875rem 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  height: 4rem;
  padding: 0 1rem;
}

.schedule_table {
  border-collapse: collapse;
  width: 100%;
}

.list_item {
  height: auto;
}

.list_item td {
  border-bottom: 1px solid var(--PRIMARY_LIGHT);
  padding: 12px 16px;
  font-size: 1.2rem;
  vertical-align: top;
  text-align: left;
}

.list_item p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Data_item {
  font-weight: bolder;
  font-size: 1.2rem;
}

.schedule_header th {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 16px;
  text-align: left;
}

.hidden {
  display: none;
}

.desc {
  transform: scaleY(-1);
}

table {
  border-collapse: collapse;
  width: 100%;
}

.schedule_container {
  height: 500px;
  width: 1000px;
  border-radius: 0.5rem;
  overflow-y: auto;
}

.schedule_header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 1px solid var(--SECONDARY_GRAY);
  background-color: var(--PRIMARY_GRAY);
  border: none;
}

.schedule_itens {
  padding: 1rem;
  text-align: center;
}

.border_botton_itens {
  border-bottom: 1px var(--SECONDARY_GRAY) solid;
}

.schedule th {
  background-color: var(--PRIMARY_GRAY);
}

.schedule tr {
  border: none;
}

.container_description {
  width: 150px;
  overflow-x: auto;
  white-space: nowrap;
}

/* scroll */

.schedule_container::-webkit-scrollbar,
.container_description::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.schedule_container::-webkit-scrollbar_thumb,
.container_description::-webkit-scrollbar_thumb {
  background-color: var(--SECONDARY_GRAY);
  border-radius: 0.5rem;
  cursor: pointer;
}
