.form-edit-transation button {
    width: 14.75rem;
    height: 2.875rem;
    display: block;
    background-color: var(--SECONDARY_BLUE);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 57px;
  }
  
  button:hover {
    background-color: var(--DARK_BLUE);
  }