.bg_header {
  margin: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--PRIMARY_LIGHT);
}

.icons_header {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
