.bg_main {
    height: 100vh;
    background: url('../assets/bg.svg') no-repeat center center,
    linear-gradient(
        to right, 
        var(--PRIMARY_BLUE), 
        var(--SECONDARY_BLUE)
        );
    background-size: cover;
     
      
}
