:root {
  --PRIMARY_LIGHT: #ffffff;

  --PRIMARY_GRAY: #e4f2fd;
  --SECONDARY_GRAY: #b9b9b9;
  --INPUT_GRAY: #555555;

  --PRIMARY_BLUE: #05ede3;
  --SECONDARY_BLUE: #6460fb;
  --DARK_BLUE: #000a4a;

  --REGISTRATION_AREA_BLUE: #3a9ff1;
  --REGISTRATION_AREA_RED: #ff576b;

  --DEBT_ORANGE: #fa8c10;

  --MAIN_PINK: #ff57d3; /* n sei onde vai essa cor mas ta no figma */

  --FONT_COLOR: #000000;

  --PRIMARY_FONT: "Public Sans", Arial, Helvetica, sans-serif;
  --SECONDARY_FONT: "Ibarra Real Nova", Times, "Times New Roman", serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: var(--PRIMARY_FONT);
  box-sizing: border-box;
}

body {
  list-style-type: none;

  background: linear-gradient(
    to right,
    var(--PRIMARY_BLUE),
    var(--SECONDARY_BLUE)
  );
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

/* Global css class */

.default_button {
  background-color: var(--SECONDARY_BLUE);
  border: none;
  border-radius: 0.3rem;
  padding: 1rem;
  color: var(--PRIMARY_LIGHT);
  font-weight: 600;
  font-size: 0.875rem;
}

.form_title {
  font-size: 1.75rem;
  align-self: center;
  color: var(--SECONDARY_BLUE);
}

input {
  border-radius: 0.3rem;
  border: solid var(--INPUT_GRAY) 0.05rem;
  resize: none;
  padding: 1rem;
  box-sizing: border-box;
}

input:focus {
  border-color: var(--SECONDARY_BLUE);
}

label {
  font-size: 1.125rem;
  color: var(--FONT_COLOR);
}
